

<div class="community">

    <div>
        <h3 class="CName">{{ClasseName}}</h3>
        <h4 class="CName">{{creatorName}} </h4>
        <br>
        <br>
        <!--
            <ul *ngFor="let a in firstThree">
                <li>
                    <tr>
                    <td>{{a.firstName}}</td>
                    <td>{{a.lastName}}</td>
                    </tr>
                </li>
            </ul>
        -->
    </div>
    <div class="button-container">
        <button type="button">Add Challenge</button>
    
        <button type="button">Chat</button>
    
        <button class="circle-button">Join</button>
    </div>
</div>
    